body {
  font-family: "Open Sans", "Times New Roman", Times, serif;
  font-weight: 400;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  line-height: 1.5;
  
}

@mixin button {
  padding: 1rem;
  text-align: center;
  min-width: 150px;
  max-width: 15%;
  font-size: 1.5rem;
  font-weight: 400;
  border: solid 2px black;
  bottom: 5px;
  right: 5px;
}