@mixin button {
    padding: 1rem;
    text-align: center;
    min-width: 150px;
    max-width: 15%;
    font-size: 1.5rem;
    font-weight: 400;
    border: solid 2px black;
    bottom: 5px;
    right: 5px;
  }