/* CSS Variables */
:root {
    --primary--bg: #fff0ed;
    --secondary--bg: #f7f7f7;
    --dark-color: #393939;
    --accent-color: #5bacc3;
    --light-color: #fff;
    --lightdark-color: #909090;
  }
